body {
  padding-top: 60px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

p {
	text-indent: 2em; 
}
p a {
	text-indent: 0px; 
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer .container .text-muted {
  margin: 20px 0;
}

.sharebar{
  margin: 0px 10px 6px 0;
}

.sharebar li a{
  float: left;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;  
  padding-left: 8px;  
  padding-right: 8px;
  line-height: 16px;
  height: 16px;
  background-image: url(icons_0_16.png);
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 6px 10px 6px 0;
}

.sharebar .cnRenren {
  background-position: 0 -208px;
}
.sharebar .cnDouban {
  background-position: 0 -468px;
}

.sharebar .cnQzone {
  background-position: 0 -52px;
}

.sharebar .cnTqq {
  background-position: 0 -260px;
}

.sharebar .cnTsina {
  background-position: 0 -104px;
}
.sharebar .cnWeixin {
  background-position: 0 -1612px;
}

